body {
    background-color: black;
    color: white;
    font-family: "Arial", sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
}

.left, .right {
    display: flex;
    flex-direction: column;
}


.left {
    text-align: left;
}

.right {
    text-align: right;
}


#time {
    font-size: 70px;
    margin: 0;
}

#date {
    font-size: 30px;
    margin: 10px 0 0 0;
}

#weather_degree {
    font-size: 100px;
    margin: 0;
}

#weather_description {
    font-size: 30px;
    margin: 10px 0 0 0;
}