body {
    background-color: black;
    color: white;
    font-family: "Arial", sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 50px;
}

.top-container {
    display: flex;
    justify-content: space-between; /* Push left/right content apart */
    padding: 0 100px;               /* 100px padding on left & right */
    width: 100%;
    box-sizing: border-box;         /* So padding doesn't break width */
}

.left, .right {
    display: flex;
    flex-direction: column;
}


.left {
    text-align: left;
}

.right {
    text-align: right;
}


#time {
    font-size: 70px;
    margin: 0;
    font-weight: normal;
}

#date {
    font-size: 30px;
    margin: 15px 0 0 0;
    font-weight: 300;
}

#weather_degree {
    font-size: 70px;
    margin: 0;
    font-weight: normal;
}

#weather_description {
    font-size: 30px;
    margin: 15px 0 0 0;
    font-weight: 300;
}